#container{
    width: 100%;
    min-width: 360px;
    max-width: 1440px;
    grid-template-columns: 70% auto;
    grid-template-areas: 
    "header aside"
    "main aside";
    column-gap: 10px;
    row-gap: 10px;
    margin:0 auto;
    display: grid;
    justify-content: space-evenly;
}

header {
    width: 100%;
    min-height: 75px;
    background-color: greenyellow;
    border: 1px black solid;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    grid-area: header;
    }

aside{
    width: 100%;
    border:1px solid black;
    grid-column: 2/2 ;
    grid-row: 1/2;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-area: aside;
}

#imgMain{
    width: 100%;
    margin-left: 50%;
}

main{
    width: 100%;
    display: grid;
    border: 1px black solid;
    box-sizing: border-box;
    text-align: center;
    grid-template-columns: 100%;
    grid-template-areas: 
    "txtMain"
    "boxTop";
    grid-area: main;
}
#txtMain{
    width: 100%;
    grid-area: txtMain;
}
#boxTop{
    width: 90%;
    border: 1px black solid;
    box-sizing: border-box;
    border-radius: 20px;
    margin-left: 40px;
    grid-area: boxTop;

}
#boxSection{
    width: 100%;
    text-align: justify;
    display: grid;
    row-gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "box1 box2"
    "box3 box4";
}


#txtBoxTop{
    font-size: 2em;
    display: grid;
}
.boxMid {
    border: 1px black solid;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px;
}

article{
    width: 80%;
}

#box1{
    width: 80%;
    grid-area: box1;
}

#box2{
    width: 80%;
    grid-area: box2;
}
#box3{
    width: 80%;
    grid-area: box3;
}
#box4{
    width: 80%;
    grid-area: box4;
}

